{
  "plugins": [
    [ "transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    } ],
    "transform-class-properties"
  ],
  "env": {
    "development": {
      "plugins": [ "transform-es2015-modules-commonjs" ]
    },
    "production": {
      "plugins": [
        "transform-class-properties"
      ],
      "presets": [ "es2015" ]
    }
  }
}
